.card__placeholder {
  height: 280px;
  animation: image-loading 1s linear infinite alternate;
}

@keyframes image-loading {
  0% {
    background-color: hsl(0, 0%, 84%);
  }
  100% {
    background-color: hsl(0, 0%, 74%);
  }
}
